<!doctype html>
<html>
  <head>
    <title>Search <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Search <%=shopData.shopName%></h1>
    <form method="GET" action="/books/search-result"  >
      <p>What book are you looking for?</p>
      <input type="text" name="keyword" required autofocus/>
      <input type="submit" value="Search"/>
    </form>
    <p><a href="/">back to home</a></p>
  </body>
</html>